/*할 일 박스 스타일*/
.TodoItem {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(240, 240, 240);
}

/*체크박스 감싼 박스*/
.TodoItem .checkbox_com {
    width: 20px;
}

/*할 일 박스*/
.TodoItem .title_col {
    flex: 1;
}

/*등록시간 박스*/
.TodoItem .date_col {
    font-size: 14px;
    color: #808080;
}

/*삭제버튼*/
.TodoItem .btn_col button {
    cursor: pointer;
    color: #808080;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}